.menu{
    background-color: peru;
   
    padding: 2rem;
    margin: 2rem;
    
}
.itemMenu{
    text-decoration: none;
    color: white; 
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    list-style-type: none;
}
